In [1]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import re
from nltk.stem import WordNetLemmatizer
from IPython.display import display
import pyspark
sc = pyspark.SparkContext
from pyspark.sql import SparkSession
from pyspark import SQLContext
from pyspark.sql import Window as W
import pyspark.sql.functions as F
from pyspark.sql.dataframe import DataFrame
from pyspark.sql.types import *
from pyspark.sql import *
spark = SparkSession \
    .builder \
    .getOrCreate()

In [3]:
genome_scores = pd.read_csv('data/'+'genome_scores'+'.csv',header=0, dtype = {"tagId" : "str","movieId" : "str"})
display(genome_scores.head())

genome_tags = pd.read_csv('data/'+'genome_tags'+'.csv',header=0, dtype = {"tagId" : "str","tag" : "str"})
display(genome_tags.head())

genome_scores = pd.merge(genome_scores,genome_scores.groupby('movieId').mean().reset_index().rename(columns={'relevance':'avg_relevance'}),on=['movieId'],how='left')
genome_scores_most_relevant = genome_scores[genome_scores.relevance>=genome_scores.avg_relevance]
genome_tags_relevance=pd.merge(genome_scores_most_relevant,genome_tags,how='left',on=['tagId'])
display(genome_tags_relevance)

  movieId tagId  relevance
0       1     1    0.02500
1       1     2    0.02500
2       1     3    0.05775
3       1     4    0.09675
4       1     5    0.14675

  tagId           tag
0     1           007
1     2  007 (series)
2     3  18th century
3     4         1920s
4     5         1930s

        movieId tagId  relevance  avg_relevance         tag
0             1     6    0.21700       0.160223       1950s
1             1     8    0.26275       0.160223       1970s
2             1     9    0.26200       0.160223       1980s
3             1    11    0.57700       0.160223          3d
4             1    13    0.18800       0.160223         80s
...         ...   ...        ...            ...         ...
3571640  131170  1109    0.20875       0.162884  wilderness
3571641  131170  1110    0.47125       0.162884        wine
3571642  131170  1116    0.31125       0.162884       women
3571643  131170  1123    0.64375       0.162884     writers
3571644  131170  1124    0.58775       0.162884     writing

[3571645 rows x 5 columns]

In [ ]:
import dash
import dash_html_components as html
import dash_bootstrap_components as dbc

app = dash.Dash(
    external_stylesheets=[dbc.themes.BOOTSTRAP]
) 
navbar = dbc.NavbarSimple(
    children=[
        dbc.NavItem(dbc.NavLink('About', href='#')),
        dbc.NavItem(dbc.NavLink('Source', href='https://github.com/adfmb/tastingmovies')),
        dbc.DropdownMenu(
            children=[
                dbc.DropdownMenuItem('Model' , header=True),
                dbc.DropdownMenuItem('Version 01: Min frecuency = 2,000', href='#'),
                dbc.DropdownMenuItem('Version 02: Min frecuency = 800', href='#'),
            ],
            nav=True,
            in_navbar=True,
            label='More',
        ),
    ],
    brand='Choosing your model',
    brand_href='#',
    color='#0099f9',
    dark=True,
)

jumbotron = dbc.Jumbotron([
    html.H1('Welcome', className='display-3'),
    html.P('This is your choose-model dashboard', className='lead'),
    html.Hr(className='my-2'),
    html.P('In here you can see all the different models and parameters existing and choose the one you like the most'),
    html.P(dbc.Button('Learn more', color='primary'), className='lead'),
])

app.layout = html.Div([
    navbar,
    jumbotron
])

if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [02/Jun/2021 14:54:23] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [02/Jun/2021 14:54:23] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [02/Jun/2021 14:54:23] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [02/Jun/2021 14:55:02] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [02/Jun/2021 14:55:02] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [02/Jun/2021 14:55:02] "GET /_dash-layout HTTP/1.1" 200 -